/* 0001 подключаем normalize.css из папки vendor - что это спросить у Эндрю */
@import url(../vendor/normalize.css);
/* 0002 подключаем гугл шрифт - иногда на айфонах цвет шрифта не совпадает и у каждой кнопки нужно дописать color: это поменяет цвет текста на кнопке*/
@import url(https://fonts.googleapis.com/css?family=Neucha:regular);
/* 0003 скопировал все из pool-game */

.body {
    background-image: url(../images/background.png);
    height: 100vh;
    background-position: 72% 0;
    background-size: cover;
    font-family: neucha;
    color: #000000;
}


.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;


}

.picture-right {
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: fixed;
    width: 40%;
    right: -100%;
    top: 5.6%;
    height: 84%;
    /* border-radius: 50px; */
    /* overflow: hidden; */
    /* спросить у Andrew можно ли закруглять края у картнки? */
    /* сделать контур? или заранее у самой картинки сделать? */
    /* при другом девайсе backgrond picture меняется */
}

.picture-right.shown {
    right: 10%;

}

/* .picture-right.click2{
    right: 50%;

} */
.picture-left {
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: fixed;
    width: 40%;
    left: -100%;
    top: 5.6%;
    height: 84%;

}

.picture-left.shown {
    left: 10%;
}

.header__button001 {
    cursor: pointer;
    background: #FFF27B;
    border: 2px solid #000000;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #000000;
}

.picture-left.shown.again {
    left: 50%;
}

/* .picture-left.finish, 
.picture-right.finish {
    display: none;
} */
.popup.close {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.popup {
    overflow: hidden;
    position: absolute;
    /* вырываем объект и он двигается вместе с экраном при скроле */
    /* fixed - не двигается */
    width: 316px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 85px;
    padding: 15px;
    -webkit-box-shadow: 0 0 20px 3px #000000;
    box-shadow: 0 0 20px 3px #000000;
    background: #D9D9D9;
    border-radius: 35px;
}

.try-again {
    position: absolute;
    background: #80FF01;
    color: #000000;
    border-radius: 20px;
    margin: 0;
    height: 40px;
    width: 110px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 36px;
    top: 62px;
    -webkit-box-shadow: 0 2px 6px 1px #000000;
    box-shadow: 0 2px 6px 1px #000000;
}

.try-again.hidden {
    display: none;

}

.popup__description {
    margin: 5px 0;
    height: 35px;
}

.popup__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 96.54px;
    height: 46px;
    left: 49.09px;
    top: 304px;
    background: #FFF27B;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 6px 1px #000000;
    box-shadow: 0 2px 6px 1px #000000;
}

.popup__sets {
    /* position: relative; */
    overflow-x: scroll;
    gap: 15px 10px;
    /* width: 100%; */
    height: 127px;
    display: -ms-grid;
    display: grid;
    /* flex-wrap: wrap; */
    -ms-grid-rows: 46px 15px 46px;
    grid-template-rows: 46px 46px;
    grid-auto-flow: column;
    padding: 20px 10px;
    /* transform: translateX(-30px); */
    list-style: none;
    /* убрали точки */
    /* scroll-behavior: smooth; */
    margin-left: 10px;
    margin-right: 10px;
}

.popup__sets.hide {
    display: none;
}

/* .popup__sets::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 56px;
    right: 0;
    top: -5px;
    background-color: rgba(217, 217, 217, 0.5);
} */

.popup__title {
    margin: 10px 0;
    /* одна цифра с 4 сторон */
    /* две цифры 2 оси  */
    /* три цифры 1 общая и две оси */
    font-weight: 400;
    /* regular = 400 (100 тонкий 900 толстый) убрали размытие - так как оно не наследуется */
    font-size: 30px;
}

.popup__find-a-pair,
.popup__check-memory {
    display: none;
    gap: 10px;
    /* гэп работает внутри флекс элементов */
    margin-bottom: 10px;

}

.popup__find-a-pair img,
.popup__check-memory img {
    max-width: 50px;

}

.popup__find-a-pair p,
.popup__check-memory p {
    background: #80FF01;
    border-radius: 20px;
    margin: 0;
    height: 40px;
    width: 180px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 2px 6px 1px #000000;
    box-shadow: 0 2px 6px 1px #000000;
}

.popup__find-a-pair {
    margin-top: 20px;
}

.popup__chosen-set {
    display: none;
    background: #FFF27B;
    border-radius: 20px;
    margin: 10px 0 15px 58px;
    height: 40px;
    width: 180px;
    font-size: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 2px 6px 1px #000000;
    box-shadow: 0 2px 6px 1px #000000;

}

.popup__chosen-set.show,
.popup__find-a-pair.show,
.popup__check-memory.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hide {
    
}

.pool {
    background-image: url(../images/pull\ table.png);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: 100% 100%;
    display: none;


}

.timer {
    font-size: 35px;
    color: #ffffff;
    position: fixed;
    margin: 0;
    /* background-color: rgba(0,0,0,0.5); */
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10px;
    width: 67px;
    display: none;
}

.pool__container {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    display: -ms-grid;
    display: grid;
    /* grid-template-areas: ; */
    padding: 50px 43px;
    grid-auto-rows: 82px;
    gap: 10px 10px;
    grid-auto-flow: dense;
}

.pool.open {
    display: block;
}

.pool__buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.cover-l,
.cover-r {
    width: 104px;
    height: 47px;

    background: #80FFC2;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 6px 1px #000000;
    box-shadow: 0 2px 6px 1px #000000;
    font-size: 22px;
    color: #000000;
}

.next {

    width: 104px;
    height: 47px;

    background: #7BE7FF;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 6px 1px #000000;
    box-shadow: 0 2px 6px 1px #000000;
    font-size: 25px;
    color: #000000;
}

.card.eng {
    -ms-grid-column: 1;
    grid-column: 1;
    grid-row: auto;
}

.card.ru {

    -ms-grid-column: 2;

    grid-column: 2;
    grid-row: auto;
}

.card {

    margin: 0;
    background: #FFF27B;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border: 3px solid #ffffff;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    /* кнопки красотки */
}

.card.delete {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}

.card.select {
    background-color: #7BE7FF;
}

.card:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.scroll-left,
.scroll-right {
    background-image: url(../images/scroll\ stick\ short.png);
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    padding: 0;
    width: 10px;


    height: 135px;
    background-color: transparent;
    border: 0;
    /* display:  none; */

}

.scroll-left {

    left: 19px;
    top: 128px;

}

.scroll-right {
    right: 18px;
    top: 128px;
    left: auto;

}

.homer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
@media screen and (max-width: 700px) {
    .homer {
        display: none;
    }
}
@media screen and (min-width: 700px) {
    .pool {
        width: 400px ;
        height: 700px;
        right: auto;
        bottom: auto;
        left: 15px;
        top: 15px;
    }
    .pool__buttons {
        bottom: auto;
        top: 617px;
        right: auto;
        width: 400px;
        left: 15px;
        padding: 0;
        
    }
    .picture-left, .picture-right {
        width: 157px ;
        right: auto;
        left: -100%;
        height: 555px;
        top: 56px;
    }
    .picture-left.shown {
        left: 56px;
    }
    .picture-left.shown.again {
        left: 217px;
    }
    .picture-right.shown {
        left: 217px;
    }
    .homer {
        width: 420px;
    }
}
@media screen and (max-height: 640px) {
    .card {
        margin-top: 5px;
        max-height: 50px;
    }
    .pool__container {
        padding: 45px 33px;
        gap: 0 5px;
        margin: 1px;
        grid-auto-rows: 62px;
        width: 230px;
        
        
    }
    .header__back {
        display: none;
    }
    .pool {
        width: 300px ;
        height: 550px;
        right: auto;
        bottom: auto;
        left: 15px;
        top: 10px;
        
    }
    .pool__buttons {
        bottom: auto;
        top: 500px;
        right: auto;
        width: 300px;
        height: 200px;
        left: 15px;
        padding: 0;
        
    }
    .picture-left, .picture-right {
        width: 108px ;
        right: auto;
        left: -100%;
        height: 378px;
        top: 54px;
    }
    .picture-left.shown {
        left: 56px;
    }
    .picture-left.shown.again {
        left: 165px;
    }
    .picture-right.shown {
        left: 165px;
    }

}
@media screen and (max-height: 415px) {
    .card {
        margin-top: 5px;
        max-height: 20px;
        
    }
   
    .pool__container {
        padding: 35px 10px;
        gap: 0 5px;
        margin: 1px;
        width: 500px;

        -ms-grid-columns: 1fr 10px 1fr;

    grid-auto-rows: 42px;
   
    }
    .pool {
        
        
    }
    .pool.open {
        
        background-image: none
    }
    .pool__buttons {
        display: none;
        
    }
    .picture-left, .picture-right {
        display: none;
    }
    .picture-left.shown {
        display: none;
    }
    .picture-left.shown.again {
        display: none;
    }
    .picture-right.shown {
        display: none;
    }

}
@media screen and (min-width: 1000px) {
    .pool {
        left: 20%;
        
    }
    .pool__buttons {
        
        left: 20%;
        
        
    }
   
   
    .picture-left.shown {
        left: calc(20% + 40px) ;
    }
    .picture-left.shown.again {
        left: calc(20% + 202px);
    }
    .picture-right.shown {
        left: calc(20% + 202px);
}
}